
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3" routerLink="centralinventoryict"
    routerLinkActive="true">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="pi pi-slack" style="font-size: 2rem"></i>
          </h1>
          <h6 class="text-white">Central Inventory ict</h6>
        </div>
      </div>
    </div>
    
  
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3" routerLink="centralinventorystationerypens"
      routerLinkActive="true">
        <div class="card card-hover">
          <div class="box bg-cyan text-center">
            <h1 class="font-light text-white">
              <i class="pi pi-slack" style="font-size: 2rem"></i>
            </h1>
            <h6 class="text-white">Central  Inventory Stationery Pen</h6>
          </div>
        </div>
      </div>

        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3" routerLink="centralinventoryconsumables"
        routerLinkActive="true">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="pi pi-slack" style="font-size: 2rem"></i>
              </h1>
              <h6 class="text-white">Central  Inventory Consumables</h6>
            </div>
          </div>
        </div>


          <!-- Column -->
          <div class="col-md-6 col-lg-2 col-xlg-3" routerLink="centralinventorydetergentsandcleaningmaterial"
          routerLinkActive="true">
            <div class="card card-hover">
              <div class="box bg-cyan text-center">
                <h1 class="font-light text-white">
                  <i class="pi pi-slack" style="font-size: 2rem"></i>
                </h1>
                <h6 class="text-white">Detergent and Cleaning</h6>
              </div>
            </div>
          </div>

            <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3" routerLink="centralinventoryteasandprovisions"
        routerLinkActive="true">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="pi pi-slack" style="font-size: 2rem"></i>
              </h1>
              <h6 class="text-white">Tea and Provisions</h6>
            </div>
          </div>
        </div>


                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3" routerLink="centralinventorysecurityitems"
                    routerLinkActive="true">
                      <div class="card card-hover">
                        <div class="box bg-cyan text-center">
                          <h1 class="font-light text-white">
                            <i class="pi pi-slack" style="font-size: 2rem"></i>
                          </h1>
                          <h6 class="text-white">Security Items</h6>
                        </div>
                      </div>
                    </div>
  

      
      </div>
      
  
